body {
    background-color: black;
}

header h1 {
    
    font-size: 60px;
    text-align: center;
    font-family: lato, arial, sans-serif;
    color: white;
}

section h1 {
    
    font-size: 40px;
    text-align: center;
    font-family: lato, arial, sans-serif;
    color: white;
}

header h2 {
    
    font-size: 40px;
    text-align: center;
    font-family: lato, arial, sans-serif;
    color: white;
}

section h2 {
    
    font-size: 40px;
    text-align: center;
    font-family: lato, arial, sans-serif;
    color: white;

  }

section p {
    
    font-size: 20px;
    text-align: center;
    font-family: lato, arial, sans-serif;
    color: white;
}

nav {
  text-align: center;
}
nav ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  color: white;
  text-align: center;
  margin: 0 15px;
  font-size: 20px;
}