body {
  background-color: black;
  font-family: lato, arial, sans-serif;
  margin: 1vw;
}

.universal-header {
  min-height: 10vh;
  margin: 0vw;
  padding: 0vw;
  max-width: 100vw;

    h1 {
      font-size: clamp(1rem, 3vw, 4rem);
      text-align: left;
      color: white;
      background-color: black;
      margin: 0vw;
      padding: 0vw;
      a {
        display:block;
        text-decoration: none;
        color: white;
      }
    }

    h2 {
      font-size: clamp(.75rem, 1.45vw, 3rem);
      text-align: left;
      color: white;
      background-color: black;
      margin: 0vw;
      padding: 0vw;
      a{
        display: block;
        text-decoration: none;
        color: white;
      }  
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      height: 10vh;
      max-width: 100vw;
      margin: 0vw;
      padding: 0vw;
    }

    nav {
      display: flex;
      justify-content: center;
      margin-top: 1vw;
      margin: -4vw auto;

      ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
       
        li a {
          display: flex;
          color: white;
          border: solid white .2vw;
          padding: .25vw .5vw;
          border-radius: 1vw;
          margin: 0vw 1vw;
          text-decoration: none;
          font-weight: bold;
        }
      
        li a:hover {
          color: cyan;
          box-shadow: 0 .25rem .25rem 0 cyan;
        }
      }
    }
}

.index{
  background: black;
  
    .top-image-banner {
      background-image: url("Engage.jpg");
      background-size: cover;
      background-position: center;
      background-color: black;
      border: solid cyan;
      border-radius: 0vw 5vw;
      min-height: 45vh;
      margin: 0vw;
      padding: 0vw;

        a {
          text-decoration: none;
        }
    }

    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(15.625rem, 100%), 1fr)); 
      gap: 1.5rem;
      max-width:98vw;
      margin: 0 auto;
      margin-top: 1.5rem;
        a {
          text-decoration: none;
          color: black;
        }
    
        .card {
          box-shadow: 0 .25rem .5rem 0 rgba(255,255,255,1);
          transition: 0.3s;
          border: solid cyan;
          border-radius: 0vw 5vw;
          text-align: center;
          background-color: lightslategray;
          height: 18.75rem;
          
            img { 
              max-height: 15.625rem;
            }

            h4 {
              font-size: 1.5rem;
              display: inline;
              justify-content: center;
              border-radius: 1vw;
              margin: -1vw 1vw;
              padding: .4vw;
            }
        }  
        .card:hover {
          box-shadow: 0 .5rem 1rem 0 cyan;
          transform: translateY(-1vw);
                
            h4 {
              background-color: black;
              color: cyan;
            }
        }
    }
}


.contact {
  border: solid cyan;
  border-radius: 0vw 5vw;
  width: 20vw;
  text-align: center;
  margin: auto;  
  
    h1 {
      color: white;
      font-size:clamp(1rem, 3vw, 4rem)
    }

    p {
      font-size:clamp(.25rem, 1.2vw, 3rem);
      color: white;
      display: block;
      border: solid white;
      border-radius: 1vw;
      width: 14vw;
      margin: auto;
      margin-bottom: 1vw;
      padding: .25vw              
    }  

    p:hover {
      box-shadow: 0 .1rem .25rem 0 cyan;
    }
    
    a {
      text-decoration: none;
      color: white;
      display: block;
      margin: auto;
      width: 14vw;
      font-size:clamp(.25rem, 1.2vw, 3rem);

        :hover {
          color: cyan;    
        }

        img {
          margin: 1vw 0vw;
          width: 14vw;
        }            
    }    
}